*{
    margin: 0; /* margin y pading en 0 para quitar los bordes que trae  predefinidos*/
    padding: 0;
    font-family: Moncerrat;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("images/pexels-rpnickson-2559941.jpg") no-repeat;
    background-size: cover ;
    background-position: center;
}

header{
    background-color: #404938bb;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex; /* pone el contenido en linea */
    justify-content: space-between;
    align-items: center;
    z-index: 99
}
.logo{
    color: aliceblue;
    font-size: 30px;
    user-select: none; /*hace que el mouse no cambie de forma al pasar por encima*/
}
.navegation a{
    color: aliceblue;
    position: relative;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;    
    
    
}
.navegation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:aliceblue ;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.2s;
    
}
.navegation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navegation button{
    width: 120px;
    height: 45px;
    background-color: transparent;
    border: 2px solid aliceblue;
    border-radius: 5px;
    color: aliceblue;
    margin-left: 40px;
    outline: none;
    font-size: 15px;
}
.navegation .button:hover{
    background-color: aliceblue;
    color: #353d2e;
    transition: 0.05s;
}
.login-box{
position: relative;
width: 400px;
height: 440px;
background-color:#4049384d ;
border: 2px solid #353d2e;
border-radius: 10px;
backdrop-filter: blur(10px) ;
display: flex;
justify-content: center;
align-items: center;
}
    
