*{
    margin: 0; /* margin y pading en 0 para quitar los bordes que trae  predefinidos*/
    padding: 0;
    font-family: Montcerrat;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("images/pexels-rpnickson-2559941.jpg") no-repeat;
    background-size: cover ;
    background-position: center;
}

.opciones{
    background-color: #404938bb;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex; /* pone el contenido en linea */
    justify-content: space-between;
    align-items: center;
    z-index: 99
}
.logo{
    color: aliceblue;
    font-size: 30px;
    user-select: none; /*hace que el mouse no cambie de forma al pasar por encima*/
}
.navegation a{
    color: aliceblue;
    position: relative;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;    
    
    
}
.navegation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:aliceblue ;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.2s;
    
}
.navegation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navegation button{
    width: 120px;
    height: 45px;
    background-color: transparent;
    border: 2px solid aliceblue;
    border-radius: 5px;
    color: aliceblue;
    margin-left: 40px;
    outline: none;
    font-size: 15px;
}
.navegation .button:hover{
    background-color: aliceblue;
    color: #353d2e;
    transition: 0.05s;
}
.login-box{
position: relative;
width: 400px;
height: 440px;
background-color:#4049384d ;
border: 0px solid aliceblue;
border-radius: 10px;
backdrop-filter: blur(10px) ;
display: flex;
justify-content: center;
align-items: center;
}
.login-box .box-form-login{
    width: 100%;
    padding: 40px;
}
.box-form-login h2{
   font-weight: 500;
    font-size: 2em;
    color: aliceblue;
    text-align: center;

}
.imput-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid aliceblue;
    margin: 30px 0;
    
}
.imput-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: -1em;
    transform: translateY(-50%);
    color: aliceblue;
    font-weight: 100;
    pointer-events: none;
    transition: .5s;
    
}
.imput-box input:focus~label,
.imput-box input:valid~label{
    top: -5px
    
} 
.imput-box input{
    color: aliceblue;
    font-weight: 400;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding-right: 20px;
    
}


.remember-forgot {
    font-size: 12px;
    color: aliceblue;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #22271d ;
    margin-right: 5px;
}
.remember-forgot a{
    color: aliceblue;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.btn{
    color: aliceblue;
    width: 100%;
    height: 45px;
    margin-top: 8px;
    font-size: medium;
    border: 2px solid aliceblue;
    border-radius: 5px;
    background: transparent;
}
.btn:hover{
    color:#353d2e;
    background: aliceblue;
    transition: .2s;
    
}

.login-register{
    font-size: 12px;
    color: aliceblue;
    text-align: center;
    margin: 20px;
}
.login-register a{
    color: aliceblue;
    text-decoration: none;
    margin-left: 3px;
}
.login-register p :hover{
    text-decoration: underline;
}

.title {
   
    position: absolute;
    left: 0%;
    top: 0%;
    padding-top: 10px;
    margin-left: 95px;  
    margin-top: 150px ;
   
    
}

.title h1{
    color: aliceblue;
    font-weight: 800;
    font-size: 80px;
}

.article-home{
    
    position: absolute;
    left: 0%;
    top: 0%;
    padding: 5px 6px 20px 10px;
    margin-top: 260px;
    margin-left: 95px;
    margin-right: 95px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    background-color: #353d2e23;
    
}
.article-home p{
    color: aliceblue;
    font-weight: 300;
    text-align:left;
    
}